/*General Container*/
.forgot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    padding: 20px;
}

/*Box*/
.forgot-box{
    background: #141e30;
    padding: 35px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

.forgot-box h2{
    margin-bottom: 15px;
    color: #ff9800;
}

.forgot-box p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.5;
}

/*Input*/
.input-group{
    margin-bottom: 20px;
}

.input-group input{
    width: 92%;
    padding: 12px 14px;
    color: white;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 15px;
    transition: 0.3s;
    margin-bottom: 15px;
}

.input-group input:focus{
    border-color: #ff9800;
    outline: none;
    box-shadow:  0 0 8px rgba(255, 152, 0, 0.4);
}

/*Button*/

.forgot-btn{
    width: 99%;
    padding: 12px;
    background: #ff9800;
    color: #141e30;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.forgot-btn:hover{
    background: #ffa733;
    box-shadow: 0 4px 12px rgba(255, 167, 51, 0.5);
    transform:  translateY(-2px);
}

/*Login Link*/

.back-login{
    display: inline-block;
    margin-top: 5%;
    font-size: 17px;
    color: #ff9800;
    text-decoration: none;
    transition: 0.3s;
}

.back-login:hover{
    color: rgba(255, 167, 51, 0.5);
}

/*Animation*/

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*Responsive*/
@media (max-width:480px){
    .forgot-box{
        padding: 25px 20px;
    }

    .forgot-box h2{
        font-size: 20px;
    }

    .forgot-btn{
        font-size: 14px;
        padding: 10px;
    }
}